<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="raiz">
        <h1>Detalle de heroes con reseña</h1>
        <% if (resultNombre) {%>
          Nombre: <%= resultNombre %> </br>
          Reseña: <%= resultResenia %>
        <% } else {%>
          No tenemos en nuestra base ningún héroe ni heroína con ese id
        <% } %>
    </div>
  </body>
</html>